.card-out {
    min-height: 200px;
    background-size: cover;
    background-position: center;
}

.card-in {
    position: relative;
    top: 120px;
    min-height: 100px;
    padding: 1rem;
}

.card-in p {
    margin-bottom: 0;
}