<div class="container mt-4">
    <h2>Infórmate</h2>
    <div class="row mb-3">
        <div class="col-8">
            <div class="card-out card govco-card px-3" style="background-image: url(../../assets/img/card-1.png);">

                <div class="card-in card govco-card">
                    <small>28 febrero 2019</small>
                    <p>Jóvenes colombianos rompen récord en participación para la construcción de una política pública de género incluyente</p>
                </div>

            </div>
        </div>
        <div class="col-4">
            <div class="card-out card govco-card px-3" style="background-image: url(../../assets/img/card-2.png);">

                <div class="card-in card govco-card">
                    <small>28 febrero 2019</small>
                    <p>¡Protégete de El Niño!</p>
                </div>

            </div>
        </div>
    </div>

    <div class="row mt-5 mb-4">
        <div class="col-4">
            <div class="card-out card govco-card px-3" style="background-image: url(../../assets/img/card-3.png);">

                <div class="card-in card govco-card">
                    <small>28 febrero 2019</small>
                    <p>Colombia, ganador de premio internacional de innovación</p>
                </div>

            </div>
        </div>

        <div class="col-4">
            <div class="card-out card govco-card px-3" style="background-image: url(../../assets/img/card-4.png);">

                <div class="card-in card govco-card">
                    <small>28 febrero 2019</small>
                    <p>El nuevo sistema carcelario avanza</p>
                </div>

            </div>
        </div>

        <div class="col-4">
            <div class="card-out card govco-card px-3" style="background-image: url(../../assets/img/card-5.png);">

                <div class="card-in card govco-card">
                    <small>28 febrero 2019</small>
                    <p>Esta convocatoria no te la puedes perder por nada</p>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col text-center mt-4">
            <div class="btn btn-link">Ver otras noticias</div>
        </div>
    </div>
</div>