.page-header {
    min-height: 30rem;
    background-position: 0 center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    border: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
}

.page-header.bg-main {
    background-image: url(../../assets/img/2nueva-bandera--agosto.png);
}

.page-header {
    height: 0;
}

.description-search {
    font-size: 28px;
    font-weight: 300;
    margin: 1rem 0 2rem;
    letter-spacing: 0px;
}

.title-search{
    color: #004884;
    font-family: Work Sans,sans-serif;
    font-weight: 300;
    font-size: 61px;
}

.box {
    position: relative;
}

.contenedor-buscador input.search_home {
    position: relative;
    z-index: 3;
    width: 100%;
    height: 50px;
    background: #fff;
    font-family: Work Sans,sans-serif;
    font-size: 1rem;
    letter-spacing: 0;
    color: rgba(75,75,75,.5);
    padding-left: 50px;
    border: unset;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 2rem;
    background-size: 35px 35px;
    background-position: left 10px center;
    background-repeat: no-repeat;
}

button.content-search {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: unset;
    cursor: pointer;
    padding: unset;
    border: unset;
    margin: 1px 6px;
    border-radius: 50%;
    line-height: 3rem;
}

.content-search {
    border: 0!important;
    background: 0 0!important;
}

.content-search {
    outline: none;
    background: transparent;
    border: 0;
    display: block;
    position: absolute;
    top: 0;
    z-index: 4;
    right: -5px;
    line-height: normal;
    outline: none!important;
}

.content-search .govco-icon {
    font-size: 3rem;
    line-height: 1;
}