<div class="page-header bg-main clear-filter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-md-8 col-sm-8">
            <h1 class="title-search text-white text-center">
              ¡Te damos la bienvenida!
            </h1>
          <div class="search-block">
              <div class="box">
                <div class="contenedor-buscador">
                  <input type="search" class="search_home" placeholder="Encuentra aquí lo que buscas">
                  <button class="content-search">
                    <span class="govco-icon govco-icon-search-cn icon-color-blue"></span>
                  </button>
                </div>
                <div id="hint" style="display: none;"></div>
              </div>
          </div>
          <h2 class="description-search text-center text-white"> Toda la oferta del Estado colombiano a tu alcance </h2>
        </div>
      </div>
    </div>
</div>