<div class="row">
    <div class="col-4">
        <div class="card govco-card border border-primary">
            <div class="card-header govco-card-header">
              <span class="govco-icon govco-icon-question-cn"> </span>
              ¿Tienes dudas?
            </div>
            <div class="card-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <h2>Certificado de antecedentes de responsabilidad fiscal</h2>
                        <p>Contraloría general de la República</p>
                        <div class="text-success">
                            <span class="govco-icon govco-icon-check-cn"></span>
                            <span class="headline-l-govco">Disponible en línea</span>
                          </div>
                      </div>
                      <div class="carousel-item">
                        <h2>Certificado de antecedentes de responsabilidad fiscal</h2>
                        <p>Contraloría general de la República</p>
                        <p>Disponible en línea</p>
                      </div>
                      <div class="carousel-item">
                        <h2>Certificado de antecedentes de responsabilidad fiscal</h2>
                        <p>Contraloría general de la República</p>
                        <p>Disponible en línea</p>
                      </div>
                      <div class="carousel-item">
                        <h2>Certificado de antecedentes de responsabilidad fiscal</h2>
                        <p>Contraloría general de la República</p>
                        <p>Disponible en línea</p>
                      </div>
                      <div class="carousel-item">
                        <h2>Certificado de antecedentes de responsabilidad fiscal</h2>
                        <p>Contraloría general de la República</p>
                        <p>Disponible en línea</p>
                      </div>
                    </div>
                </div>
            </div>
            <div class="card-footer govco-card-footer govco-center">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active bg-primary rounded-circle"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1" class="bg-primary rounded-circle"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2" class="bg-primary rounded-circle"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="3" class="bg-primary rounded-circle"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="4" class="bg-primary rounded-circle"></li>
                </ol>
            </div>
          </div>
    </div>
    <div class="col-8">

        <div class="row">
            <div class="col-12">
                <h5>Legalización de documentos de educación superior para adelantar estudios o trabajar en el exterior</h5>
                <h6>Ministerio de Educación</h6>
            </div>
            <div class="col-12">
                <div class="row justify-content-center border-bottom">
                    <div class="col">
                        <button type="button" class="btn-symbolic-govco">
                            <span class="govco-icon govco-icon-check-cn size-1x"></span>
                            <span class="btn-govco-text textright-govco">Disponible en línea</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn-symbolic-govco">
                            <span class="govco-icon govco-icon-print-p size-1x"></span>
                            <span class="btn-govco-text textright-govco">Trámite gratuito</span>
                        </button>
                    </div>
                    <div class="col">
                        <a href="/" class="btn btn-low">Ver todo el trámite</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <h5>Legalización de documentos de educación superior para adelantar estudios o trabajar en el exterior</h5>
                <h6>Ministerio de Educación</h6>
            </div>
            <div class="col-12">
                <div class="row justify-content-center border-bottom">
                    <div class="col">
                        <button type="button" class="btn-symbolic-govco">
                            <span class="govco-icon govco-icon-check-cn size-1x"></span>
                            <span class="btn-govco-text textright-govco">Disponible en línea</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn-symbolic-govco">
                            <span class="govco-icon govco-icon-print-p size-1x"></span>
                            <span class="btn-govco-text textright-govco">Trámite gratuito</span>
                        </button>
                    </div>
                    <div class="col">
                        <a href="/" class="btn btn-low">Ver todo el trámite</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Legalización de documentos de educación superior para adelantar estudios o trabajar en el exterior</h5>
                <h6>Ministerio de Educación</h6>
            </div>
            <div class="col-12">
                <div class="row justify-content-center border-bottom">
                    <div class="col">
                        <button type="button" class="btn-symbolic-govco">
                            <span class="govco-icon govco-icon-check-cn size-1x"></span>
                            <span class="btn-govco-text textright-govco">Disponible en línea</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn-symbolic-govco">
                            <span class="govco-icon govco-icon-print-p size-1x"></span>
                            <span class="btn-govco-text textright-govco">Trámite gratuito</span>
                        </button>
                    </div>
                    <div class="col">
                        <a href="/" class="btn btn-low">Ver todo el trámite</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Legalización de documentos de educación superior para adelantar estudios o trabajar en el exterior</h5>
                <h6>Ministerio de Educación</h6>
            </div>
            <div class="col-12">
                <div class="row justify-content-center border-bottom">
                    <div class="col">
                        <button type="button" class="btn-symbolic-govco">
                            <span class="govco-icon govco-icon-check-cn size-1x"></span>
                            <span class="btn-govco-text textright-govco">Disponible en línea</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn-symbolic-govco">
                            <span class="govco-icon govco-icon-print-p size-1x"></span>
                            <span class="btn-govco-text textright-govco">Trámite gratuito</span>
                        </button>
                    </div>
                    <div class="col">
                        <a href="/" class="btn btn-low">Ver todo el trámite</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h5>Legalización de documentos de educación superior para adelantar estudios o trabajar en el exterior</h5>
                <h6>Ministerio de Educación</h6>
            </div>
            <div class="col-12">
                <div class="row justify-content-center border-bottom">
                    <div class="col">
                        <button type="button" class="btn-symbolic-govco">
                            <span class="govco-icon govco-icon-check-cn size-1x"></span>
                            <span class="btn-govco-text textright-govco">Disponible en línea</span>
                        </button>
                    </div>
                    <div class="col">
                        <button type="button" class="btn-symbolic-govco">
                            <span class="govco-icon govco-icon-print-p size-1x"></span>
                            <span class="btn-govco-text textright-govco">Trámite gratuito</span>
                        </button>
                    </div>
                    <div class="col">
                        <a href="/" class="btn btn-low">Ver todo el trámite</a>
                    </div>
                </div>
            </div>
        </div>

        <a href="/" class="btn btn-link">
            <span class="btn-govco-text">Ver todo el trámite</span>
            <span class="govco-icon govco-icon-right-arrow size-2x"></span>
        </a>

    </div>
</div>
