<div class="container-fluid px-5 mb-5">
    <h2>Otros temas de tu interés</h2>
    <div class="row mb-3">

        <div class="col-6" *ngFor="let info of informaciones">
            <div class="card govco-card mb-3">
                <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4 text-center pt-4">
                    <img class="" src="../../assets/img/{{info.img}}" alt="{{info.title}}" />
                  </div>
                  <div class="col-sm-8 col-md-8 col-lg-8">
                    <h3>{{info.title}}</h3>
                    <p>{{info.text}}</p>
                    <a href="" class="btn btn-link">{{info.link}}</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>