<nav class="navbar navbar-expand-lg navbar-govco navbar-expanded">
  <div class="navbar-container container">
    <div class="navbar-logo float-left">
      <a class="navbar-brand" href="#">
      <img src="https://cdn.www.gov.co/assets/images/logo.png" height="30" alt="Logo Gov.co" />
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapsible" aria-controls="navbarCollapsible" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse navbar-first-menu float-right">
      <div class="nav-primary mx-auto">
        <ul class="navbar-nav ml-auto nav-items nav-items-desktop">
        </ul>
      </div>
      <div class="nav-item-primary ml-auto mr-2">
        <div class="form-inline form-search-bar my-2 my-lg-0 search-desktop-container">
          <input class="form-control mr-sm-2 search-navbar search-desktop-searchTerm searchTerm"
          type="search"
          placeholder="Buscar "
          aria-label="Search"
          name="searchTerm"
          id="search-desktop"
          />
          <span class="govco-icon govco-icon-search-cn icon-search notranslate"></span>
        </div>
        <span class="govco-icon govco-icon-language-en-n lang-govco ml-3"></span>
      </div>
    </div>
  </div>
  <div class='nav-secondary show-transition' id="nav-secondary">
  <div class="container">
    <div class="collapse navbar-collapse navbar-first-menu">
      <ul class="navbar-nav w-100 d-flex justify-content-center nav-items nav-items-desktop">
        <li class="nav-item ">
          <a href="/ficha-tramites-y-servicios/" class="nav-link">Trámites y servicios</a>
        </li>
        <li class="nav-item ">
          <a href="/tu-opinion-cuenta/" class="nav-link">Participación</a>
        </li>
        <li class="nav-item ">
          <a href="/entidades/" class="nav-link">Entidades</a>
        </li>
        <li class="nav-item ">
          <a href="/noticias/" class="nav-link">Noticias</a>
        </li>
      </ul>
    </div>
  </div>
  </div>
  <div class="navbar-nav navbar-notifications" id="notificationHeader"></div>
</nav>

<app-bios-buscador></app-bios-buscador>

<div class="card-container card govco-card mx-5 px-5 pt-4">
  <app-bios-tramites></app-bios-tramites>
  <app-bios-opinion></app-bios-opinion>
  <app-bios-informate></app-bios-informate>
</div>

<app-bios-otros-temas></app-bios-otros-temas>

<footer>
  <div class="footer page__footer footer-white footer-blue">
  <div class="container">
    <div class="footer-container" id="footer-container">
      <div class="footer-title d-flex  bd-highlight">
        <h2 class="title-footer">Contáctanos</h2>
      </div>
      <div
        class="nav-footer icon-white  nav-pills nav-pills-icons icon-white d-flex justify-content-center bd-highlight">
        <div class="item-footer">
          <a class="nav-link icon-white" target="_blank" href="mailto:soporteccc@mintic.gov.co">
            <span class="govco-icon govco-icon-email-cn"></span>
            <p class="title-contact-link"> Correo electrónico </p>
          </a>
        </div>

        <div class="item-footer">
          <a class="nav-link icon-white" onClick="utils.viewportLink('/#')">
            <span class="govco-icon govco-icon-callback-cn"></span>
            <p class="title-contact-link"> Regresamos tu llamada </p>
          </a>
        </div>
        
        <div class="item-footer">
          <div class="nav-link icon-white" >
            <span class="govco-icon govco-icon-call-center-cn"></span>
            <p class="title-contact-link"> Contacto telefónico </p>
          </div>
        </div>
        <div class="item-footer">
          <a class="nav-link icon-white" onClick="utils.viewportLink('/#')">
            <span class="govco-icon govco-icon-callin-cn"></span>
            <p class="title-contact-link">Llamada <br> web</p>
          </a>
        </div>
        <div class="item-footer">
          <a class="nav-link icon-white" href="utils.getServerWebUrl('/#')" >
            <span class="govco-icon govco-icon-wifi-cn"></span>
            <p class="title-contact-link"> Redes sociales </p>
          </a>
        </div>
      </div>
      <div class="submenu-footer d-flex justify-content-center bd-highlight">
        <ul class="pl-sm-0">
          <li>
              <a href="utils.getServerWebUrl('/#')">
              Sobre nosotros
            </a>
          </li>
          <li>
              <a href="utils.getServerWebUrl('/#')">
              Términos de uso
            </a>
          </li>
          <li>
            <a href="utils.getServerWebUrl('/#')">
              Mapa del sitio
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </div>
</footer>