.card-container {
    position: relative;
    top: -80px;
    -webkit-box-shadow: 0 3px 10px #00000033;
    -moz-box-shadow: 0 3px 10px #00000033;
    box-shadow: 0 3px 10px #00000033;
}

.page__footer .container .footer-container .nav-footer .item-footer {
    width: 8.25rem;
}