<div class="row mt-5">
    
    <div class="col-8">
        <h2>Queremos conocer tu opinión</h2>

        <div class="row" *ngFor="let opinion of opiniones">
            <div class="col-12">
                <h5>{{opinion.title}}</h5>
                <h6>{{opinion.subtitle}}</h6>
                <div class="row justify-content-between border-bottom">
                    <div class="col">
                        <p>{{opinion.textLeft}}</p>
                    </div>
                    <div class="col">
                        <p>{{opinion.counter}} {{opinion.textRight}}</p>
                    </div>
                </div>
            </div>
        </div>

        <a href="/" class="btn btn-link">
            <span class="btn-govco-text">Conocer otros ejercicios de participación</span>
            <span class="govco-icon govco-icon-right-arrow size-2x"></span>
        </a>

    </div>

    <div class="col-4">
        <div class="card govco-card border border-primary">
            <div class="card-body">
                <h3>CUÉNTANOS</h3>
                <h4>¿Cómo podemos mejorar GOV.CO?</h4>
                <p>Estamos construyendo este espacio para ti y tu opinión nos ayuda a crecer.</p>
                <form>
                    <div class="form-group">
                        <textarea class="form-control" rows="5" placeholder="Escribe aquí tu opinión" id="textarea-example" maxlength="300">
                        </textarea>
                    </div>
                    <button href="/" class="btn btn-round btn-middle">Enviar mi opinión</button>
                </form>
            </div>
          </div>
    </div>
</div>
